.homeBut {
  color: black;
  padding: 10px;
}
button {
  padding: 30px;
  border-radius: 50%;
  background-color: #F8F9FA;
  box-shadow: 0px 0px 8px black;
}
#easy {
  border: 8px solid #3CE500;
}
#medium {
  border: 8px solid #FFEB00;
}
#hard {
  border: 8px solid #FF0000;
}
.star {
  height:30px;
  width: 30px;
  margin: 5px;
}
.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 20px 0px 20px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.canv {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* width: auto; */
}

/* #canvas2 {
  border: 1px solid green;
} */

#submitBut {
  height: 200px;
  width: 470px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#undo, #solution {
  height: 50px;
  width: 60px;
}
/* .boxRight {
  border: 1px solid blue;
} */
.instructions {
  align-self: center;
  border: 1px solid blue;
  background-image: url(../images/start.jpg);
  background-repeat: no-repeat;
  height: 450px;
  width: 600px;
  padding: 10px 0px 0px 0px;
  margin: 50px 100px 0px 100px;
  background-position: right 0px top 100px;
  line-height: 25px;
}
#textAbout {
  border: 1px solid black;
  text-align: center;
  height:500px;
  font-family: fantasy;
}